{% extends 'base.html.twig' %}

{% block title %}Milonte - Développeur web{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div id="root">
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
