$primary: #85D7F6;
@import "~bootstrap/scss/bootstrap";
/* @import "~bootswatch/dist/lux/variables";
@import "~bootswatch/dist/lux/bootswatch"; */

$menuWidth: 150px;

body {
    background-image: url(../../assets/images/bg.png);
    background-color: rgba(0, 0, 0, .60) !important;
    background-blend-mode: overlay;

    font-weight: 100;

}

.container-fluid {
    max-height: 100vh;
}


#menu {
    background-image: url(../../assets/images/menubg.png);
    padding: 0;

    #navbar {
        width: 100vw;
        display: flex;

        .nav-link {

            a {
                color: white;
            }
        }

    }

    /*  .list-group {
        width: 100%;

        .list-group-item {
            a {
                color: white;
            }

            background-color: $primary;
            border: 0 !important;
            border-bottom: 1px solid rgba($primary, .4) !important;
            border-radius: 0 !important;
            padding: 1em;
            text-align: right;
            font-size: 2vh;
        }

        .active {
            background-color: rgba(0, 153, 255, .27) !important;
        }
    } */
}


#content {
    z-index: 30;
    display: block;

    #tab-content {
        min-height: 100vh;
        padding: 2em;
    }

    .title_component {
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: white;

        .title {
            font-weight: bold;
            font-size: 50px;
            text-transform: none;
            padding-bottom: 20px;
        }

        .title_over {
            z-index: -1;
            color: rgba(133, 215, 246, .2);
            display: block;
            font-size: 80px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: -80px;
            font-weight: 900;
        }
    }
}

.project {
    background-color: rgb(173, 204, 255) !important;
}

.one_project_card {
    margin-top: 20px;
    border-radius: 0;

    .picture-handler {
        display: flex;
        justify-content: center;
    }

    .card-img-overlay {
        background-color: rgba(0, 0, 0, .7);
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 100%;

        .card-title {
            font-weight: bold;
            color: $primary;
            text-transform: none;
        }

        .btn {}
    }
}

.project_description {
    color: white;
    font-size: 1.1rem;
}


@media screen and (max-width: 768px) {

    #content {
        padding: 0;
        width: 100vw;
    }

    #menu {
        min-width: 100vw;
        border-bottom: 1px solid $primary;

        .list-group-item-action {
            display: none;
        }
    }
}


@media screen and (min-width: 768px) {




    #menu {
        width: 200px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 110vh;
        overflow: hidden;
        position: fixed;
        transform: rotate(3deg);
        padding-top: 3em;
        margin-top: -2em;
        margin-left: -3em;
        z-index: 200;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;

        #navbar {
            flex-direction: column;
            padding-left: 50px;
            width: 200px;

            .nav-link {
                width: 165px;
                padding: 20px 0;
                border-bottom: 1px solid rgba(white, .5);

                a {
                    padding-right: 20px;
                    color: white;
                }
            }

            a {
                text-align: right;
            }
        }
    }



    #content {
        margin-left: 200px;
        width: 100%;
        /* max-width: 70vw;
        background-color: red; */
        /*  &:before {
            background-color: white;
            content: " ";
            margin-left: 21vw;
            position: fixed;
            display: block;
            width: 50%;
            min-height: 110vh;
            top: -3px;
            left: 0;
            z-index: -1;
            transform-origin: top left;
            transform: rotate(3deg);
        }
        &:after {
            position: fixed;
            display: block;
            margin-left: 88vw;
            background-color: white;
            content: " ";
            width: 10%;
            min-height: 110vh;
            top: -2vh;
            left: 0;
            z-index: -1;
            transform-origin: top left;
            transform: rotate(3deg);
        } */
    }

    /*  .one_project_card {
  
        height: 15vh;
        margin: 3vh 0;
        transform: skewX(-5deg);
        overflow: hidden;
        .picture-handler {
            overflow: hidden;
            .project_picture {
                transform: skewX(5deg);
                
                height: 15vh;
            }
        }
        .project_link {
            display: flex;
            flex-direction: row;
            writing-mode: vertical-rl;
            text-orientation: upright;
            max-width: 100%;
            text-align: center;
            .project_link_website,
            .project_link_github,
            .project_link_show {
                height: 5vh;
            }
            .project_link_website {
                background-color: rgb(255, 170, 170);
            }
            .project_link_github {
                background-color: rgb(163, 255, 163);
            }
            .project_link_show {
                background-color: rgb(188, 188, 255);
            }
        }
    } */

}